[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-Migrate = "*"
python-dotenv = "*"
Flask-JWT-Extended = "*"
Pillow = "*"
flask-moment = "*"
flask-whooshalchemy = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
