[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
pillow = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
