{% extends "layout.html" %}
{% block content %}
    <!-- Account Information -->
    <h2>Overview</h2>
    <p>{{ current_user.username }}</p>
    <p>{{ current_user.email }}</p>
    <p>{{ current_user.first_name }}</p>
    <p>{{ current_user.last_name }}</p>
    <!-- Posts -->
    <h2>Posts</h2>
    {% if posts %}
        {% for post in posts %}
            <h3>{{ post.title }}</h1>
            <p>{{ post.body }}</p>
        {% endfor %}
    {% else %}
        <h3>This user has no posts :(</h3>
    {% endif %}
{% endblock content %}