{% extends "layout.html" %}
{% block content %}
    <!-- Account Information -->
    <h2>Overview</h2>
    <p>{{ current_user.username }}</p>
    <p>{{ current_user.email }}</p>
    <p>{{ current_user.first_name }}</p>
    <p>{{ current_user.last_name }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>
    <!-- Edit Account Information -->
    <form method="POST">
        <ul>
            <li>{{ form.username.label }}</li>
            <li>{{ form.username }}</li>
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
            <li>{{ form.email.label }}</li>
            <li>{{ form.email }}</li>
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
            <li>{{ form.first_name.label }}</li>
            <li>{{ form.first_name }}</li>
            {% for error in form.first_name.errors %}
                {{ error }}
            {% endfor %}
            <li>{{ form.last_name.label }}</li>
            <li>{{ form.last_name }}</li>
            {% for error in form.last_name.errors %}
                {{ error }}
            {% endfor %}
            {{ form.submit }}
        </ul>
    </form>
    <!-- Posts -->
    <h2>Posts</h2>
    {% if posts %}
        {% for post in posts %}
            <h3>{{ post.title }}</h1>
            <p>{{ post.body }}</p>
        {% endfor %}
    {% else %}
        <h3>This user has no posts :(</h3>
    {% endif %}
{% endblock content %}