<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>Lore | {{ title }}</title>
        {% else %}
            <title>Lore</title>
        {% endif %}
    </head>
    <body>
        <div>
            {% if current_user.is_authenticated %}
                <b>Lore ({{ current_user.username }})</b>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('explore') }}">Explore</a>
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <b>Lore</b>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
