
{% extends "layout.html" %}
{% block content %}
<!-- Login page -->
<div class="uk-container">
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-top: true; offset-bottom: 10%;">
        <div class="uk-card uk-card-default uk-border-rounded uk-background-muted uk-padding-small" uk-scrollspy="cls:uk-animation-slide-bottom-small">
            <!-- Form -->
            <form method="POST" action="" class="uk-form-stacked">
                {{ form.hidden_tag() }}
                <fieldset class="uk-fieldset">
                        <div class="uk-card-header">
                            <legend class="uk-card-title uk-margin-remove-bottom">Login</legend>
                            <p class="uk-text-meta uk-margin-remove-top">Welcome to Lore!</p>
                        </div>
                    <div class="uk-card-body">
                        <!-- Email -->
                        <div class="uk-margin"> 
                            {% if form.username.errors %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: user"></span>
                                    {% for error in form.username.errors %}
                                        {{ form.username( **{'class': 'uk-input uk-form-large uk-form-danger', 'placeholder': form.username.label.text, 'uk-tooltip': 'title: ' + error + '; pos: right;'} )}}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: user"></span>
                                    {{ form.username( **{'class': 'uk-input uk-form-large', 'placeholder': form.username.label.text} ) }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- Password -->
                        <div class="uk-margin">
                            {% if form.password.errors %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: lock"></span>
                                    {% for error in form.password.errors %}
                                        {{ form.password( **{'class': 'uk-input uk-form-large uk-form-danger', 'placeholder': form.password.label.text, 'uk-tooltip': 'title: ' + error + '; pos: right;'} )}}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: lock"></span>
                                    {{ form.password( **{'class': 'uk-input uk-form-large', 'placeholder': form.password.label.text} ) }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- Remember Me -->
                        <div class="uk-margin">
                            {{ form.remember( **{'class': 'uk-checkbox uk-margin-small-right', 'type': 'checkbox'} ) }}
                            {{ form.remember.label() }}
                        </div>
                        <div class="uk-margin">
                            {{ form.submit(class='uk-button uk-button-medium uk-button-primary uk-text-uppercase uk-width-1-1') }}
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <!-- Forget -->
                        <div class="uk-margin uk-text-center">
                                <span class="uk-text-muted"><small><a href="#">Forgot your password?</a></small></span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>   
{% endblock content %}