{% extends "layout.html" %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <!-- Username -->
    <p>
        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
    </p>
    <!-- Password -->
    <p>
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
    </p>
    <!-- Remember -->
    <p>
        {{ form.remember.label }}
        {{ form.remember }}
    </p>

    <!-- Submit -->
    <p>
        {{ form.submit(value=form.submit.label.text) }}
    </p>
</form>
{% endblock %}