{% extends "main/layout.html" %}
{% block content %}
    <!-- Edit Account Information -->
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="uk-container">
            <div class="uk-section uk-section-large">
                <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Update Profile</legend>
                        
                        <div class="uk-margin">
                            {% if form.username.errors %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: user"></span>
                                    {% for error in form.username.errors %}
                                        {{ form.username( **{'class': 'uk-input uk-form-large uk-form-danger', 'placeholder': form.username.label.text, 'uk-tooltip': 'title: ' + error + '; pos: right;'} )}}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: user"></span>
                                    {{ form.username( **{'class': 'uk-input uk-form-large', 'placeholder': form.username.label.text} ) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="uk-margin">
                            {% if form.email.errors %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: user"></span>
                                    {% for error in form.email.errors %}
                                        {{ form.email( **{'class': 'uk-input uk-form-large uk-form-danger', 'placeholder': form.email.label.text, 'uk-tooltip': 'title: ' + error + '; pos: right;'} )}}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon" data-uk-icon="icon: email"></span>
                                    {{ form.email( **{'class': 'uk-input uk-form-large', 'placeholder': form.email.label.text} ) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="uk-margin">
                            <div class="uk-margin" uk-margin>
                                {{ form.picture }}
                                {% if form.picture.errors %}
                                    {% for error in form.picture.errors %}
                                        <span class="uk-text-danger">{{ error }}</span></br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {{ form.submit( **{'class': 'uk-button uk-button-primary uk-button-medium'} ) }}
                        </div>
                
                    </fieldset>
            </div>
        </div>
    </form>
{% endblock content %}