{% extends "main/layout.html" %}
{% block content %}
    <div class="uk-container">
        <div class="uk-section uk-section-small">
                <h2 class="uk-margin-remove-bottom">Explore.</h2>
                <span class="uk-text-muted uk-margin-remove-top uk-text-small">What are the students on about?</span>
                <hr>
                {% for post in posts %}
                    {% include "main/_post.html" %}
                {% endfor %}
                {% if next_url %}
                    <a href="{{ next_url }}"><<</a>
                {% endif %}
                {% if prev_url %}
                    <a href="{{ prev_url }}">>></a>
                {% endif %}
            </div> 
        </div>
    </div>
{% endblock content %}