{% extends "main/layout.html" %}

<style>
    .profile-img {
        width: 65px;
        border: 10px solid rgba(0,0,0,0.1);
    }
</style>


{% macro build_fields(fields) %}
{% for field in fields %}
    {% for key, val in field.items() %}
        <div class="uk-margin-small">
            <div id="{{ key }}" class="uk-visible-toggle">
                <div uk-grid>
                    <div class="uk-width-expand">
                        {% if key == "username" %}
                            <h4>{{ val }}</h3>
                        {% else %}
                            <p>{{ val }}</p>
                        {% endif %}
                    </div>
                    <div class="uk-width-auto">
                        <ul class="uk-hidden-hover uk-iconnav">
                            <li><a id="{{ key }}-icon" uk-icon="icon: pencil"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#{{key}}-icon').click(function(){
                $('#{{ key }}').html('<input type="text" class="uk-input" placeholder="{{key}}"></input>');
            })
        </script>
    {% endfor %}
{% endfor %}
{% endmacro %}

{% block content %}
    <div class="uk-container">
        <div class="uk-section uk-section-small">
            <div class="uk-container">
                <div class="uk-grid uk-grid-medium uk-match-height" data-uk-grid>
                    <div class="uk-width-auto">
                        <img src="{{ user.get_image_path() }}">
                    </div>
                    <div class="uk-margin">
                        {% if user == current_user %}
                            {{ build_fields(display_fields) }}
                        {% else %}
                        <div>
                            <h3 class="username-field">{{ user.username }}</h3>
                            <p class="fullname-field">{{ user.first_name }}, {{ user.last_name }}</p>
                            <a id="#edit-userfield" class="uk-icon-link" uk-icon="pencil"></a>
                        </div>
                        {% endif %}
                        {% if user.last_seen %}<p class=uk-margin-remove>Last seen: {{ user.last_seen }}</p>{% endif %}
                        <p class="uk-margin-remove">{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                        {% if user == current_user %}
                        <p class="uk-margin-remove"><a href="{{ url_for('main.edit_account') }}">Edit your profile</a></p>
                        {% elif not current_user.is_following(user) %}
                        <p class="uk-margin-remove"><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a></p>
                        {% else %}
                        <p class="uk-margin-remove"><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if user == current_user %}
            <p class="uk-text-lead">Your Posts</p>
            {% if posts %}
            <hr></hr>
            {% else %}
            <hr></hr>
            <h3 class="uk-text-center">You're quiet</h3>
            <p class="uk-text-center uk-text-muted uk-padding-remove uk-text-medium">You can post <a href={{ url_for('main.index') }}>here</a></p>
            {% endif %}
        {% else %}
            <p class="uk-text-lead">{{ user.username }}'s Posts</p>
            {% if posts %}
            <hr></hr>
            {% else %}
            <hr></hr>
            <h3 class="uk-text-center">Look's like {{ user.username }} hasn't posted.</h3>
            <p class="uk-text-center uk-text-muted uk-padding-remove uk-text-medium">I'm sure they'll post soon!</a></p>
            {% endif %}
        {% endif %}
        
        <div class="uk-section uk-section-small uk-padding-remove">
            <div class="uk-container">
                {% if posts %}
                    {% for post in posts %}
                    {% include "main/_post.html" %}
                    {% endfor %}
                    {% if next_url %}
                        <a href="{{ next_url }}"><<</a>
                    {% endif %}
                    {% if prev_url %}
                        <a href="{{ prev_url }}">>></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
